@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Regular.woff");
}

html {
    font-family: "JetBrainsMono";
}

.tag {
   padding: 5px;
   border-radius: 50px;
   background: #8bbcbc;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo title"
    "content content";
}
.content { grid-area: content; }
.logo { grid-area: logo; }
.title { grid-area: title; }

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
